<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Shortster</h1>
        <form action="" method="POST">
            <label for="originalUrl">Enter a long url to make it shorter</label>
            <input class="form-input" required placeholder="url" type="url" name="originalUrl" id="originalUrl">
            <br>
            <label for="shortcode">Custom shortcode (optional)</label>
            <input class="form-input" type="text" name="shortcode" id="shortcode">
            <br>
            <button class="btn" type="submit">Make it shorter!</button>
        </form>
    </div>
</body>
</html>